/*Project vars*/
$defaultFontSize: 14;
$defaultFontFamily: "Roboto", Arial, sans-serif;

/*Sizes*/
$w-large-desktop: 1440px;
$w-middle-desktop: 1200px;
$w-desktop: 992px;
$w-tablet: 768px;
$w-mobile: 414px;

$c-white: #fff;
$c-green: #18bf2c;
$c-red: #e01833;
$c-grey: #7a7575;
